.site-container {
    display: grid;
    grid-template-rows: .3fr 6fr .3fr fit-content;
    font-family: 'Cabin', sans-serif;
}


.students-img {
    background-image: url("../img/priscilla-du-preez-XkKCui44iM0-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 95vh;
    width: 100vw;
    position: relative;
}

/* navbar stuff */
.navbar {
    background: #000000;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, .5);
    transform: translateY(20px);
    margin-left: 5px;
    margin-right: 5px;
    box-shadow:#000000;
}

.container {
    display: flex;
    justify-content: flex-start;
}

.nav-item {
    margin: 0 auto;
}

.nav-link {
    color: #ffffff!important; 
    
}

.logo {
    margin-left: 5px;
}

/* navbar stuff ends */

.home-text1 {
    font-size: 36px;
    text-align: center;
}

.home-box {
    color: #ffffff;
    background-color: rgba(0, 0, 0, .5);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    /* -ms-transform: translate(-50%, -50%); */
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50vw;
}

div > p {
    text-align: center;
}