.site-container {
    display: grid;
    grid-template-rows: .3fr 6fr .3fr fit-content;
    font-family: 'Cabin', sans-serif;
}

.body::-webkit-scrollbar {
    display: none;
}

.students-img {
    background-image: url("../img/priscilla-du-preez-XkKCui44iM0-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 95vh;
    width: 100vw;
    position: relative;
}

.contact-img {
    background-image: url("../img/burst-kUqqaRjJuw0-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 95vh;
    width: 100vw;
    position: relative;
}

.about-img {
    background-image: url("../img/mimi-thian-vdXMSiX-n6M-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 95vh;
    width: 100vw;
    position: relative;
}

.affordability-img {
    background-image: url("../img/siora-photography-hgFY1mZY-Y0-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 95vh;
    width: 100vw;
    position: relative;
}

.college-img {
    background-image: url("../img/windows-VMPhyAoVqqk-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 95vh;
    width: 100vw;
    position: relative;
}

.hs-img {
    background-image: url("../img/john-schnobrich-2FPjlAyMQTA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 95vh;
    width: 100vw;
    position: relative;
}

.bg-custom {
    background-color: #E9AE86;
}

/* navbar stuff */
.navbar {
    background: #000000;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, .5);
    transform: translateY(20px);
    margin-left: 5px;
    margin-right: 5px;
    box-shadow:#000000;
}

.navbar-brand {
    font-size: 1.6rem;
    transition: all 350ms ease;
    margin-left: 5px;
}

.container {
    display: flex;
    justify-content: flex-start;
}

.nav-item {
    margin: 0 auto;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-link {
    color: #ffffff!important; 
    font-size: 1.2rem;
    transition: all 350ms ease;
    
}

.logo {
    margin-left: 5px;
}

.logo2 {
    height: 80px;
    width: 80px;
}

.dropdown-item {
    transition: all 350ms ease;
}

.nav-item a:hover, .nav-item a:focus {
    /* box-shadow: 1px 1px #62C6F2, 2px 2px #62C6F2, 3px 3px #62C6F2;
    transform: translateY(-3px);  */
    transform: scale(1.1);
}

.navbar-brand:hover, .navbar-brand:focus {
    /* box-shadow: 1px 1px #62C6F2, 2px 2px #62C6F2, 3px 3px #62C6F2;
    transform: translateY(-3px); */
    transform: scale(1.1);
}

/* navbar stuff ends */

.home-text1 {
    font-size: 2rem;
    text-align: center;
}

.home-text2 {
    text-align: center;
}

.bold {
    font-weight: bold;
    font-style: italic;
}

.home-box {
    color: #ffffff;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 50%;
    left: 50%;
    /* -ms-transform: translate(-50%, -50%); */
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50vw;
}

.who-we-are-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 70vw;
    margin: 0 auto;
    margin-top: 30px;
}

.book-now-buttons {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .button1 {
    color:#ffffff;
    background-color: #00559F;
    border-color: #000000;
    border-radius: 4px;
    width: 140px;
    height: 40px;
    transition: all 350ms ease;
    font-size: 1.125rem;
    box-shadow: 0px 1px #000000;
} */

.button2 {
    width: 160px;
    height: 40px;
    margin-left: 5vw;
    transition: all 350ms ease;
    font-size: 1.125rem;
    box-shadow: 0px 1px #000000;
    border-color: #000000;
    background-color:#13294B;
    color: white;
    margin-top: -10px;
}

.margin {
    margin-bottom: 30px;
}

.button1:hover, .button1:focus {
    transform: scale(1.1);
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    color: black;
}

.button2:hover, .button2:focus {
    transform: scale(1.1);
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    color: black;
}
 
.contact-link {
    color: #ffffff;
    transition: all 350ms ease;
    display: flex;
    justify-content: center;
}

.flex {
    display: flex;
    justify-content: center;
}

.contact-link:hover, .contact-link:focus {
    transform: scale(1.1);
    color: #4B9CD3;
}

/* home page content */
.content-container {
    display: flex;
    flex-direction: column;
    background-color: #f3f6fa;
    /* background-color: #8D9DE2;
    background-image: linear-gradient(43deg, #8D9DE2 0%, #D373CD 46%, #FFCC70 100%); */
    color: #000000;
    /* background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%); */
    max-width: 100vw;
}

.box1 {
    background-color: black;
    width: 100vw;
    color: #000000;
    height: 10px;
}

.box2 {
    background-color: black;
    width: 100vw;
    color: black;
    height: 5px;
}

.how-to-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #62C6F2; */
    /* background-color: #0093E9;
    background-image: linear-gradient(160deg, #62C6F2 0%, #ffffff 100%); */
}

.how-header {
    margin-left: 5vw;
    padding-top: 40px;
    display: flex;
}

.how-text {
    margin-left: 5vw;
    margin-top: 2vw;
    margin-bottom: -5px;
}

.how-list {
    margin-left: 5vw;
}

.how-item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.how-format {
    display: flex;
    flex-direction: row;
}

.how-format2 {
    display: flex;
    max-width: 60%;
    flex-direction: column;
}

.how-img {
    max-width: 40vw;
    max-height: 50vh;
    margin-left: 10vw;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

ol {
    padding: 16px;
}

h2 {
    font-size: 2.25rem;
}

.steps-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
}

.steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 29vw;
}

.step-image1 {
    height: 75px;
    width: 80px;
}

h3 {
    font-size: 1.4rem;
}

.why-tutor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #605A56; */
    color: black;
    margin-left: 50px;
    margin-right: 50px;
}

.lead-container {
    display: flex;
    flex-direction: row;
    background-color: #0E1116;
    /* margin-top: 30px; */
    /* margin-bottom: 30px; */
    /* margin-left: 60px;
    margin-right: 60px; */
}

.white-background {
    /* background-color: white; */
    margin-left: 35px;
    margin-right: 35px;
}

.why-container {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-right: 10px;
    margin-left: 10px;
}

.why-center {
    text-align: center;
}

.green-container {
    background-color: #83d3c9;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 30px;
    margin-bottom: 0px;
    /* border-radius: 10px; */
}

.container2 {
    display: flex;
    flex-direction: column;
} 

.container3 {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    /* max-width: 543px;
    max-height: 84px; */
    text-align: center;
}

.leader-container {
    display: flex;
    justify-content: center;
}

.leader-container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-left: 40px;
    margin-top: 20px;
    max-width: 65vw;
}

.name-title {
    font-size: 1.5rem;
}

.name-title2 {
    font-size: 1.1rem;
    font-style: italic;
}

.leader-img {
    max-width: 26vw;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10px;
}

.card {
    max-width: 23vw;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    border-color: #13294B;
    border-width: .25rem;
    margin-bottom: 20px;
    transition: all 350ms ease;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
}

.card:hover, .card:focus {
    border-color: #62C6F2;
    transform: scale(1.05);
}

.card-img-top {
    object-fit: scale-down;
    max-height: 50vw;
    border-radius: 5px;
}

.card-title {
    font-size: 1.5rem;
    color: black;
    text-align: center;
}

.card-title-2 {
    font-size: 1.1rem;
    color: black;
    font-style: italic;
}

.card-text {
    font-size: 1rem;
}

/* this a test for the "why tutor w/ us" section */

.why-container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.why-container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 45vw;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.bottom-image {
    background-image: url("../img/priscilla-du-preez-XkKCui44iM0-unsplash.jpg");
    background-position: 50% 55%;
    width: 100vw;
    height: 25vh;
    /* background-position: center; */
}

.bottom-image2 {
    background-image: url("../img/mimi-thian-vdXMSiX-n6M-unsplash.jpg");
    background-position: 50% 45%;
    width: 100vw;
    height: 25vh;
}

.bottom-image3 {
    background-image: url("../img/siora-photography-hgFY1mZY-Y0-unsplash.jpg");
    background-position: 50% 50%;
    width: 100vw;
    height: 25vh;
}

.bottom-box {
    color: #ffffff;
    background-color: rgba(0, 0, 0, .5);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    height: inherit;
    flex-direction: column;
}

.bottom-box2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.button3 {
    width: 200px;
    height: 40px;
    transition: all 350ms ease;
    font-size: 1.125rem;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    background-color: transparent;
    color: white;
    margin-bottom: 10px;
}

.button3:hover, .button3:focus {
    transform: scale(1.1);
}

.button4 {
    width: 200px;
    height: 40px;
    transition: all 350ms ease;
    font-size: 1.125rem;
    background-color: #83d3c9;
    color: black;
    margin-bottom: 10px;
    border: #83d3c9;
}

.button4:hover, .button4:focus {
    transform: scale(1.1);
}

.how-img2 {
    display: none;
}

.italic {
    font-style: italic;
}

/* home page content ends */

.hr-size88 {
    margin-bottom: 0px!important;
}

/* .hr-home-spacing2 {
    margin-top: 0px;
} */

/* about page begins here */
.abt-section {
    display: flex;
    background-color: #929982;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 30px;
}

.abt-section1 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0 auto;
    padding: 30px;
}

.abt-subtitle {
    /* color: #2E2F33; */
    font-size: 1.4rem;
    font-style: italic;
}

.abt-button2 {
    margin-left: 0px;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    background: #252627;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    transition: all 350ms ease;
    color: white;
    border-color: white;
}

.abt-button2:hover, .abt-button2:focus {
    transform: scale(1.1);
    background: #8AC4FF;
    color: black;
    border-color: black;
}

.abt-button {
    margin: 0 auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.abt-bold {
    font-weight: bold;
}

.abt-spacing {
    margin-bottom: 16px!important;
}
/* about page ends here */

/* affordability page starts here */
.afford-container {
    display: flex;
    margin-top: 50px;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    width: 25vw;
    margin-left: 30px;
    /* align-items: flex-start; */
    margin-bottom: 20px;
    /* margin-top: 50px; */
}

.afford-container2 {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.button5 {
    height: 3em;
    padding: 0 2.25em;
    background-color: transparent;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    transition: all 0.2s ease-in-out;
    color: black;
}

.button5:hover, .button5:focus {
    /* transform: scale(1.1); */
    border-color: #47624f;
    color: #47624f;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.3);
    transform: scale(1.1)
}

.hr-size5 {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

.afford-img {
    max-width: 65vw;
    max-height: 60vh;
    margin-bottom: 20px;
    border-radius: 6px;
}

.afford-text {
    max-width: 65vw;
}

.afford-text2 {
    max-width: 65vw;
}

.hr-size6 {
    display: none;
}

.hr-size7 {
    display: none;
}

.afford-note {
    margin-bottom: 0px;
    width: 70vw;
    text-align: center;
    margin: 0 auto;
}

.table {
    max-width: 65vw;
}

.afford-header2 {
    font-size: 1.7rem;
}

.hr-size8 {
    display: none;
}

/* affordability page ends here */

/* footer content begins here */
.footer-container {
    display: flex;
    flex-direction: column; 
    background-color: #D8D4CF;
    align-items: center;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

.footer-note {
    font-size: .8rem;
}

.footer-container2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5vw;
    margin-right: 5vw;
}

.footer-container1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* gap: 3vw; */
}

h4 {
    font-size: 1rem;
    font-weight: bold;
}

.link {
    text-decoration: none;
    font-size: .9rem;
    color: #000000;
    transition: all 350ms ease;
}

.link-transform {
    transition: all 350ms ease;
}

.link:hover, .link:focus {
    color: #000000;
}

.link-transform:hover, .link-transform:focus {
    transform: scale(1.1);
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-icons {
    display: flex;
    gap: 10px;
}

.social-icon {
    max-width: 68px;
    max-height: 64px;
    transition: all 350ms ease;
}

.social-icon:hover, .social-icon:focus {
    transform: scale(1.05)
}

/* .hr1 {
    display: none;
} */

.hr-size {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 50vw;
}

.hr-size2 {
    margin-top: 3px;
    margin-bottom: 3px;
    /* margin-left: 10vw; */
    width: 30vw;
}

.hr-size3 {
    margin-top: 3px;
    margin-bottom: 3px;
    /* margin-right: 10vw; */
    width: 30vw;
}

.hr-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 10vh;
}

.hr-container2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10vw;
}

.hr-container3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 10vw;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 10vw; */
}

/* footer content ends here */

@media only screen and (max-width: 991.98px) {
    .home-text1 {
        font-size: 1.5rem;
    }

    /* h2 {
        font-size: 1.5rem;
    } */

    .button1 {
        height: 30px;
        font-size: 1rem;
    }

    .button2 {
        height: 30px;
        font-size: 1rem;
    }

    .logo {
        display: none;
    }

    .abt-section {
        text-align: center;
    }

    .lead-container {
        flex-direction: column;
        align-items: center;
    }

    .leader-container2 {
        align-items: center;
        text-align: center;
        margin-left: 0px;
    }

    .leader-img {
        margin-left: 0px;
    }

    .logo2 {
        max-width: 20vw;
    }

    .contact-link {
        font-size: .9rem;
    }

    .navbar-brand {
        font-size: 1.4rem;
    }

    .nav-link {
        font-size: 1.2rem;
    }

    .nav-item {
        margin: 0 auto;
        margin-bottom: -5px;
    }

    h2 {
        font-size: 1.7rem;
    }

    /* h3 {
        font-size: 1.2rem;
    } */

    .step-image1 {
        width: 70px;
        height: 65px;
    }

    .logo2 {
        width: 70px;
        height: 70px;
    }

    .card {
        max-width: 30vw;
    }

    .card-title {
        font-size: 1.1rem;
    }

    .card-title-2 {
        font-size: .8rem;
    }

    .card-text {
        font-size: .9rem;
    }

    .container3 {
        font-size: .8rem;
    }

    h4 {
        font-size: 1rem;
    }

    .link {
        font-size: .8rem;
    }

    .footer-note {
        font-size: .8rem;
    }

    .social-icon {
        max-width: 38px;
        max-height: 34px;
    }

    .abt-subtitle {
        font-size: 1.3rem;
    }

    .hr-size8 {
        display: flex;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 50vw;
    }

    .abt-text {
        margin-bottom: 0px;
    }

}

@media only screen and (max-width: 576px) {
    .navbar-brand {
        font-size: 1.3rem;
    }

    .nav-link {
        font-size: 1rem;
    }

    .container3 {
        font-size: .75rem;
    }

    h4 {
        font-size: .8rem;
    }

    .link {
        font-size: .6rem;
    }

    /* .footer-container1 {
        gap: 5vw;
    } */

    .button3 {
        width: 40vw;
        font-size: .8rem;
    }

    .button4 {
        width: 40vw;
        font-size: .8rem;
    }

    .bottom-text {
        max-width: 80vw;
    }

    .leader-img {
        max-width: 50vw;
        max-height: 50vh;
        margin-left: 0px;
    }

    .lead-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .leader-container2 {
        margin-left: 0px;
        padding-bottom: 20px;
        /* max-width: 70vw; */
    }

    .why-container {
        flex-direction: column;
        gap: 0px;
    }

    .hr1 {
        margin: 20px 0;
        display: flex;
    }

    .hr2 {
        display: none;
    }

    .hr-size {
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 50vw;
    }

    .why-text {
        font-size: .9rem;
    }

    .afford-text {
        font-size: .9rem;
    }

    .container3 {
        max-width: 50vw;
        flex-direction: column;
        align-items: center;
    }

    .card {
        max-width: 50vw;
    }

    .footer-note {
        font-size: .5rem;
    }

    .how-img {
        display: none;
    }

    .how-img2 {
        height: 30vh;
        display: flex;
    }

    .how-format2 {
        max-width: 90%;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .how-text {
        margin-left: 0px;
    }

    .how-list {
        margin-left: 0px;
    }

    .how-header {
        justify-content: center;
        margin: 0 auto;
    }

    .button2 {
        margin-left: 0px;
        margin-bottom: 20px;
    }

    .green-container {
        max-width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .how-format {
        justify-content: center;
    }

    .abt-section {
        max-width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .hr-size8 {
        margin-top: 35px;
        margin-bottom: 35px;
    }

    .hr-size88 {
        margin-bottom: 0px;
    }

    /* .hr-home-spacing {
        margin-bottom: 0px;
    } */

}

@media only screen and (max-height: 668px) {
    .nav-link {
        font-size: 1rem;
    }

    .navbar-brand {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 700px) {
    .home-text1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    .afford-header2 {
        font-size: 1.4rem;
    }

    .home-text2 {
        font-size: .9rem;
    }

    .who-we-are-container {
        max-width: 85vw;
    }

    .contact-link {
        font-size: .9rem;
    }

    .home-box {
        max-width: 85vw;
    }

    .steps-container {
        flex-direction: column;
        gap: 20px;
    }

    .white-background {
        margin-left: 0px;
        margin-right: 0px;
        justify-content: center;
    }

    .why-container2 {
        flex-direction: column;
        align-items: center;
    }

    .why-container {
        flex-direction: column;
        gap: 0px;
    }

    .hr-size4 {
        width: 50vw;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .why-container3 {
        width: 70vw;
    }

    .hr2 {
        display: none;
    }

    .container3 {
        flex-direction: column;
        align-items: center;
        max-width: 50vw;
    }

    .steps {
        width: 100vw;
    }

    /* h3 {
        font-size: 1.2rem!important;
    } */

    .abt-text {
        font-size: .9rem;
    }
    .abt-subtitle {
        font-size: 1.1rem;
    }

    .afford-container {
        flex-direction: column;
        margin-top: 0px;
        margin: 0 auto;
    }

    .afford-container2 {
        margin-left: 0px;
        text-align: center;
        margin: 0 auto;
    }

    .sidebar-container {
        margin: 0 auto;
        width: 100vw;
        order: 2;
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
        margin-bottom: 20px;
    }

    .afford-text {
        width: 85vw;
        margin-bottom: 0px;
        /* font-size: .8rem; */
        margin: 0 auto;
    }

    .afford-text2 {
        margin-bottom: 0px;
        margin: 0 auto;
        width: 100vw;
    }

    .afford-img {
        max-width: 92vw;
        max-height: 60vh;
        margin: 0 auto;
    }

    .hr-size6 {
        display: flex;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 50vw;
    }

    .hr-size7 {
        display: flex;
        margin: 0 auto;
        margin-top: 30px;
        width: 50vw;
    }

    .hr-size5 {
        width: 40vw;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .afford-header {
        margin-top: 20px;
        text-align: center;
    }

    .button5 {
        height: 40px;
        margin-top: 20px;
    }

    /* .afford-header2 {
        font-size: 1.4rem;
    } */

    .table {
        max-width: 98vw;
    }
}

@media only screen and (max-width: 1164px) {
    h3 {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 933px) {
    h3 {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 831px) {
    h3 {
        font-size: .9rem;
    }

    .how-img {
        height: 50%;
        width: 50vw;
    }

    .how-format {
        align-items: center;
    }

    .button3 {
        width: 30vw;
    }

    .button4 {
        width: 30vw;
    }
}

/* @media only screen and (min-width: 576px) {
    .button4 {
        width: 30vw;
    }
} */

@media only screen and (max-width: 670px) {
    .how-img {
        display: none;
    }

    .how-img2 {
        height: 30vh;
        display: flex;
        margin: 0 auto;
    }

    .how-format {
        flex-direction: column;
        text-align: center;
    }

    .how-header {
        justify-content: center;
    }

    .how-format2 {
        max-width: 70%;
        align-items: center;
    }

    .how-text {
        margin-left: 0px;
    }

    .how-list {
        margin-left: 0
    }

    .button2 {
        margin-left: 0px;
    }

    .abt-section1 {
        max-width: 70%;
        padding: 0px;
    }

    .abt-heading {
        padding-top: 40px;
    }
}

@media only screen and (min-width: 600px) {
    .leader-img {
        height: 100%;
        width: 100%;
    }
}

@media only screen and (max-width: 410px) {
    .table {
        width: 98vw;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}
