.site-container {
    display: grid;
    grid-template-rows: .3fr 6fr .3fr fit-content;
    font-family: 'Cabin', sans-serif;
}


.students-img {
    background-image: url("../img/priscilla-du-preez-XkKCui44iM0-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 95vh;
    width: 100vw;
    position: relative;
}

.bg-custom {
    background-color: #E9AE86;
}

/* navbar stuff */
.navbar {
    background: #000000;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, .5);
    transform: translateY(20px);
    margin-left: 5px;
    margin-right: 5px;
    box-shadow:#000000;
}

.navbar-brand {
    font-size: 1.6rem;
    transition: all 350ms ease;
    margin-left: 5px;
}

.container {
    display: flex;
    justify-content: flex-start;
}

.nav-item {
    margin: 0 auto;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-link {
    color: #ffffff!important; 
    font-size: 1.2rem;
    transition: all 350ms ease;
    
}

.logo {
    margin-left: 5px;
}

.dropdown-item {
    transition: all 350ms ease;
}

.nav-item a:hover, .nav-item a:focus {
    /* box-shadow: 1px 1px #62C6F2, 2px 2px #62C6F2, 3px 3px #62C6F2;
    transform: translateY(-3px);  */
    transform: scale(1.1);
}

.navbar-brand:hover, .navbar-brand:focus {
    /* box-shadow: 1px 1px #62C6F2, 2px 2px #62C6F2, 3px 3px #62C6F2;
    transform: translateY(-3px); */
    transform: scale(1.1);
}

/* navbar stuff ends */

.home-text1 {
    font-size: 2rem;
    text-align: center;
}

.home-text2 {
    text-align: center;
}

.home-box {
    color: #ffffff;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 50%;
    left: 50%;
    /* -ms-transform: translate(-50%, -50%); */
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50vw;
}

.book-now-buttons {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button1 {
    color:#ffffff;
    background-color: #00559F;
    border-color: #000000;
    border-radius: 4px;
    width: 140px;
    height: 40px;
    transition: all 350ms ease;
    font-size: 1.125rem;
    box-shadow: 0px 1px #000000;
}

.button1:hover, .button1:focus {
    transform: scale(1.1);
    background-color: #62C6F2;
    color: black;
}
 
/* home page content */
.content-container {
    display: flex;
    flex-direction: column;
}

.box1 {
    background-color: #13294B;
    width: 100vw;
    color: #13294B;
}

.box2 {
    background-color: #13294B;
    width: 100vw;
    color: #13294B;
}

.how-to-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #62C6F2; */
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #62C6F2 0%, #ffffff 100%);
}

h2 {
    font-size: 2.25rem;
}

.steps-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

.steps {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step-image1 {
    height: 75px;
    width: 80px;
}

h3 {
    font-size: 1.75rem;
}

.why-tutor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #605A56;
    color: #ffffff;
}

.why-container {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.container2 {
    display: flex;
    flex-direction: column;
} 

.container3 {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    /* max-width: 543px;
    max-height: 84px; */
    text-align: center;
}

.leader-container {
    display: flex;
    justify-content: center;
}

.card {
    max-width: 25vw;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    border-color: #13294B;
    border-width: .25rem;
    margin-bottom: 20px;
    transition: all 350ms ease;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
}

.card:hover, .card:focus {
    border-color: #62C6F2;
    transform: scale(1.05);
}

.card-img-top {
    object-fit: scale-down;
    max-height: 50vw;
    border-radius: 5px;
}

.card-title {
    font-size: 1.5rem;
    color: black;
    text-align: center;
}

.card-title-2 {
    font-size: 1.1rem;
    color: black;
    font-style: italic;
}

.card-text {
    font-size: 1rem;
}
/* home page content ends */

/* footer content begins here */
.footer-container {
    display: flex;
    flex-direction: column; 
    background-color: #D8D4CF;
    align-items: center;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

.footer-note {
    font-size: .8rem;
}

.footer-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container1 {
    display: flex;
    flex-direction: row;
    gap: 3vw;
}

h4 {
    font-size: 1.2rem;
    font-weight: bold;
}

.link {
    text-decoration: none;
    font-size: 1rem;
    color: #000000;
    transition: all 350ms ease;
}

.link-transform {
    transition: all 350ms ease;
}

.link:hover, .link:focus {
    color: #000000;
}

.link-transform:hover, .link-transform:focus {
    transform: scale(1.1);
}

.footer-links {
    list-style: none;
}

.footer-icons {
    display: flex;
    gap: 10px;
}

.social-icon {
    max-width: 68px;
    max-height: 64px;
    transition: all 350ms ease;
}

.social-icon:hover, .social-icon:focus {
    transform: scale(1.05)
}
/* footer content ends here */

@media only screen and (max-width: 991.98px) {
    .home-text1 {
        font-size: 1.5rem;
    }

    .button1 {
        height: 30px;
        font-size: 1rem;
    }

    .logo {
        display: none;
    }

    .navbar-brand {
        font-size: 1.4rem;
    }

    .nav-link {
        font-size: 1.2rem;
    }

    .nav-item {
        margin: 0 auto;
        margin-bottom: -5px;
    }

    h2 {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    .step-image1 {
        width: 70px;
        height: 65px;
    }

    .card {
        max-width: 30vw;
    }

    .card-title {
        font-size: 1.1rem;
    }

    .card-title-2 {
        font-size: .8rem;
    }

    .card-text {
        font-size: .9rem;
    }

    .container3 {
        font-size: .8rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    .link {
        font-size: .8rem;
    }

    .footer-note {
        font-size: .8rem;
    }

    .social-icon {
        max-width: 38px;
        max-height: 34px;
    }

}

@media only screen and (max-width: 576px) {
    .navbar-brand {
        font-size: 1.3rem;
    }

    .nav-link {
        font-size: 1rem;
    }

    .container3 {
        font-size: .75rem;
    }

    h4 {
        font-size: .8rem;
    }

    .link {
        font-size: .6rem;
    }

    /* .footer-container1 {
        gap: 5vw;
    } */

    .why-container {
        flex-direction: column;
        gap: 0px;
    }

    .container3 {
        max-width: 50vw;
        flex-direction: column;
        align-items: center;
    }

    .card {
        max-width: 50vw;
    }

    .footer-note {
        font-size: .5rem;
    }

}

@media only screen and (max-height: 668px) {
    .nav-link {
        font-size: 1rem;
    }

    .navbar-brand {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 700px) {
    .home-text1 {
        font-size: 1.4rem;
    }

    .home-text2 {
        font-size: .9rem;
    }

    .home-box {
        max-width: 85vw;
    }
}
